.header {
    background-color: rgb(110, 155, 98);
    /* background-color: #44555f; */
    background-image: linear-gradient(to right bottom, rgba(47, 100, 128, 1), rgba(47, 100, 128, 0.6));
    background-size: cover;
    background-position: 0;

    &__logo{
        width: 240px;
    }
}


