.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);

    &__button{
        position: absolute;
        top: 5px;
        right: 5px;
        height: 35px;
        width: 110px;
        background-color: #303030;
        border: 0;

        &:hover{
            background-color: orange;
        }
    }
    input{
        height: 45px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;
       }
   
   
    input:focus{
        box-shadow: none;
        border: 2px solid white;
    }
}

    

    